{% extends "shared/base.html" %}
{% load i18n %}

{% block content %}
    <div class="text-white text-center p-10">

        {% if messages %}
            <div class="mb-4" x-data="{ show: true }" x-show="show"
                 x-transition>
                {% for message in messages %}
                    <div class="p-4 mb-2 rounded-lg
                  {% if message.tags == 'success' %}bg-green-600 text-white{% endif %}
                  {% if message.tags == 'error' %}bg-red-600 text-white{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="mt-8">
            <a href="{% url 'upload_image' %}"
               class="inline-block bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-6 rounded">
                {% trans "Back to Upload" %}
            </a>
        </div>
    </div>
{% endblock %}
